<!DOCTYPE html>
<html>
<head>
  <title>Blagues Carambar</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function getJoke() {
      $.get('/api/jokes/random', function(joke) {
        $('#joke').text(joke.question);
        $('#answer').text(joke.réponse);
      });
    }
  </script>
</head>
<body>
  <h1>Blagues Carambar</h1>
  <div id="joke-container">
    <p id="joke"></p>
    <p id="answer" style="display: none;"></p>
    <button onclick="getJoke()">Nouvelle blague</button>
  </div>
</body>
</html>
